@import url("https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap");

.heading {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 900;
  background-color: #f3ec78;
  background-image: repeating-linear-gradient(
    45deg,
    rgb(50, 65, 75) 0%,
    rgb(50, 65, 75) 1%,
    rgb(193, 81, 0) 1%,
    rgb(193, 81, 0) 2%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.description {
  font-family: "Jost", sans-serif;
  word-spacing: 5px;
  line-height: 2;
  font-size: 20px;
  margin: 20px 20px;
  text-align: justify;
  font-weight: 400;
}

.brandImages h1 {
  font-size: 3.5rem;
  margin-top: 60px;
  margin-bottom: 50px;
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 30px;
  width: 60%;
  margin: 50px auto 50px;
  padding: 10px;
}

.brand_images_img {
  width: 100%;
  height: 100%;
  border: 6px solid rgb(60, 118, 138);
  border-radius: 10px;
}

/* ========================================================== */

.products {
  margin-top: 100px;
}

.products h1 {
  font-size: 3.5rem;
  margin: 70px 0;
}

.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
  width: 80%;
  margin: 50px auto 50px;
}

.productsName {
  position: relative;
}

.productsName:hover .productOverlay {
  opacity: 0.8;
}

.productImage {
  width: 100%;
  opacity: 0.8;
}

.productOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: linear-gradient(to top, #00d4ff, black);
  transition: 3s;
  border-radius: 20px;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2f4f4f;
  text-align: center;
  font-family: "Ceviche One", cursive;
}

.overlayContent h3 {
  font-size: 40px;
  color: white;
}
